.navbar-brand {
  font-family: 'Ubuntu Condensed';
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.electric-blue { 
  color: #2bc5ff;
}

.electric-yellow {
   color: #ffff2f;
}
  
.electric-purple {
   color: #9b37ff;
}

.electric-peach {
   color: #ff8080;
}

.electric-seafoamgreen {
   color: #2dff96;
}

.electric-hotpink {
   color: #ff4fa7;
}

.electric-lightpink {
   color: #ff80ff;
}


.electric-lightyellow {
   color: #ffffb7;
}


